﻿@using Microsoft.Extensions.DependencyModel
@{
    ViewData["AppName"] = "app";
}
<!DOCTYPE html>
<html>
<head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/site.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="js/systemjs.config.js"></script>
    <script>
      System.import('@ViewData["AppName"]/main.js').catch(function(err){ console.error(err); });
    </script>
</head>

<body>
    @RenderBody()
</body>
</html>