﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/angularapp/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/site.min.css" />

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
