<span class="subject-name">{{subject.name}}</span>
<button *ngIf="!isPendingOpened" class="btn btn-info" (click)='openPending()'>+Pending</button>
<button *ngIf="isPendingOpened" class="btn btn-info" (click)='closePending()'>-Pending</button>
<button *ngIf="!isChangeOpened"  class="btn btn-info" (click)="openChangeSubject()">Change Name</button>
<button *ngIf="isChangeOpened" class="btn btn-info" (click)="closeChangeSubject()">Stop Changing Name</button>
<button class="btn btn-info" (click)="navigateToSubject(subject.id)">Hometasks</button>
<button class="btn btn-info" (click)="navigateToMarks(subject.id)">Marks</button>
<delete-button (onDelete)="deleteSubject()"></delete-button>
<div *ngIf="isPendingOpened" class="form-change">
    <h3>Pending:</h3>
    <div *ngFor="let sub of pending" class="pending" (click)="acceptStudent(sub)">
        {{sub.studentName}}
        <button class="btn btn-success">Accept</button>
    </div>
</div>
<form *ngIf="isChangeOpened" class="form-change">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="newName" name="name">
    </div>
    <button (click)="changeSubject()" class="btn btn-default">Change</button>
</form>

