<h3>Subjects</h3>
    <div class="section">
    <span *ngIf="errorMessage != null" class="error">{{errorMessage}}</span>
    <div class="subjects section">
        <div *ngFor="let subject of subjects; let i = index" class="subject entity">
            <subject-line [subject]="subjects[i]" (onChanged)="getSubjects()" (onError)="errorMessage = $event"  ngDefaultControl></subject-line>
        </div>
    </div>
    </div>
    <div class="section">
    <h3>Add new subject</h3>
    <div *ngIf="subjectToAdd == null">
        <button (click)="toggleToAdd()" class="btn btn-info">+</button>
    </div>
    <div *ngIf="subjectToAdd != null">
        <button (click)="untoggleToAdd()" class="btn btn-info">-</button>
        <form *ngIf="subjectToAdd != null">
            <div class="form-group form-subject-name">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="subjectToAdd.name" name="name">
            </div>
            <button (click)="createSubject(subjectToAdd)" class="btn btn-default">Add</button>
        </form>
    </div>
    </div>