h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

.form-change {
    position: relative;
    padding: 30px;
}


/* Main div for border to extend to 50% from bottom left corner */

.form-change:after {
    content: "";
    background: gray;
    position: absolute;
    bottom: 25%;
    left: 0;
    height: 50%;
    width: 1px;
}

.entity span {
    background-color: lightgray;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 4px;
}

.error {
    background-color: red;
    border: darkred solid 2px;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

teacher {
    display: block;
    padding: 10px;
    padding-left: auto;
}

.commits {
    background-color: lightgrey;
    height: 600px;
    border-radius: 5px;
}

.loading {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin: 100px;

}

.loading > .loading-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: gray;
    animation-name: loading;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.section {
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}

@keyframes loading {
    0% {
        height: 100px;
        width: 100px;
    }

    50% {
        height: 0px;
        width: 0px;
    }

    100% {
        height: 100px;
        width: 100px;
    }
}

.active > span {
    background-color: lightgreen;
    color: black;
}