<div class="section">
    <subject-line [subject]="subject" (onDelete)="gotoSubjects()" ></subject-line>
</div>
<hr>
<table class="table table-bordered subject-table">
    <thead>
    <tr>
        <th>
            Students
        </th>
        <th *ngFor="let hometask of hometasks" class="hometask-header">
            {{hometask.name}}
        </th>
        <th>
            Sum
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
        <td>
            <img *ngIf="student.avatarUrl != null && student.avatarUrl != ''" src="{{student.avatarUrl}}" class="img-rounded">{{student.name}}
        </td>
        <td *ngFor="let hometask of hometasks">
            {{getTopMark(student, hometask)}}
        </td>
        <td>{{getSum(student)}}</td>
    </tr>
    </tbody>
</table>