.subject-table>tbody td:not(:first-child):hover{
    background-color: lightblue;
}

.commit {
    margin: 30px;
}

table img {
    height:40px;
    width: 40px;
}

div > .time {
    background-color: lightgray;
    border-radius: 5px 0px 0px 5px;
    padding:10px;
    height: 20px;
    margin-right: 0;
}

div > .mark {
    background-color: yellowgreen;
    padding:10px;
    height: 20px;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0;
}

.deadline-passed {
    color: indianred;
}

.subject-table>thead th:not(:first-child):hover {
    background-color: lightgray;
}
