<span *ngIf="errorMessage != null" class="error">{{errorMessage}}</span>
<div class="section text-center">
    <h3>Subjects</h3>
    <div class="entity subscribed-subject" *ngFor="let subject of subscribedSubjects" xmlns="http://www.w3.org/1999/html">
        <span
                [class.pending]="subject.subscriptionStatus == 0"
                [class.webhook]="subject.subscriptionStatus == 1"
                [class.accepted]="subject.subscriptionStatus == 2"
        >{{subject.subjectName}}</span>
        <button (click)="unsubscribe(subject)" *ngIf="subject.subscriptionStatus == 0" class="btn btn-danger">Cancel</button>
        <input *ngIf="subject.subscriptionStatus == 1" type="text" placeholder="Repository Name" [(ngModel)]="subject.repositoryName">
        <button *ngIf="subject.subscriptionStatus == 1" class="btn btn-success" (click)="addWebhook(subject)">Add Webhook</button>
    </div>
</div>
<div class="section text-center">
    <select [(ngModel)]="chosenSubject" class="form-control choose-subject">
    <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
    </select>
    <button class="btn btn-default" (click)="subscribe()">Subscribe</button>
</div>
<div class="section text-center">
    <a class="btn btn-default" href="/Account/FillPersonalData">Change personal data</a>
</div>
<div class="section text-center">
        <secretcode></secretcode>
</div>