.subscribed-subject {
    margin: 10px
}

.accepted {
    background-color: lightgreen;
}

.pending {

}

.webhook {
    background-color: #336699;
    color:white;
}

.key-btn {
}


.choose-subject {
    width: 400px;
    display: inline-block;
}