
<table class="table table-bordered subject-table">
    <thead>
        <tr>
            <th>
            Students
            </th>
            <th *ngFor="let hometask of hometasks" (click)="clickHometask(hometask)" class="hometask-header">
                {{hometask.name}}
            </th>
            <th>
                Sum
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>
                <img *ngIf="student.avatarUrl != null && student.avatarUrl != ''" src="{{student.avatarUrl}}" class="img-rounded">{{student.name}}
            </td>
            <td *ngFor="let hometask of hometasks" (click)="showCommits(student, hometask)">
                {{getTopMark(student, hometask)}}
            </td>
            <td>{{getSum(student)}}</td>
        </tr>
    </tbody>
</table>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideCommits(childModal)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Commits
                    <div *ngIf="curHometask != null && curHometask != undefined">
                        Deadline = {{ensureDate(curHometask.deadline) | date:'MMMM, dd hh:mm'}}<br />
                        MaxMark = {{curHometask.maxMark}}
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let commit of commits" class="commit" title="{{commit.mark == null ? '' : commit.mark.message}}">
                    <span  class="time" [class.deadline-passed]="hasDeadlinePassed(ensureDate(commit.timeStamp), ensureDate(curHometask.deadline))">{{ensureDate(commit.timeStamp)|date:'MMMM, dd hh:mm'}}</span><span *ngIf="commit.mark != null" class="mark">{{commit.mark.value}}</span>
                <div>
            </div>
        </div>
    </div>
</div>
    </div></div>
<div bsModal #hometask="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="closeHometask()">
                    <span aria-hidden="true" (click)="closeHometask(hometask)">&times;</span>
                </button>
                <h3 class="modal-title">Hometask {{clickedHometask.name}}</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Path</h4>
                    <span>{{clickedHometask.repositoryPath}}</span>
                </div>
                <div>
                    <h4>Deadline</h4>
                    <span>{{ensureDate(clickedHometask.deadline)| date:'MMMM, dd hh:mm'}}</span>
                </div>
                <div>
                    <h4>Maximum mark</h4>
                    <span>{{clickedHometask.maxMark}}</span>
                </div>
                <div>
                    <h4>Description</h4>
                    <span>{{clickedHometask.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>