<h3>Settings</h3>
<div class="section text-center">
    <label for="email">Invite other teacher</label>
    <div>
        <input type="text" class="form-control email" placeholder="Email" id="email" name="email" [(ngModel)]="inviteEmail"/>
    </div>
    <button class="btn btn-default" (click)="invite()">Send</button>
    <span *ngIf="success" class="alert alert-success">Successfully!</span>
    <span *ngIf="errorMessage != null" class="alert alert-danger">Check the email address. It is incorrect or the person is already invited.</span>
</div>
<div class="section text-center">
<secretcode></secretcode>
</div>