body{
    height: 100%;
    background-image: url("http://www.muji.eu/images/products/l/4548718218899_l.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.landing {
    padding-top: 200px;
    text-align: center;
}

.landing-container {
    width: 500px;
}

hr {
    border-color: black
}

.greeting {
    margin-top: 200px;
    border: 2px orange solid;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.sad-face {
    float: left;
    height: 100px;
    width: 100px;
    vertical-align:middle
}

/* For vertical alignment - image-text*/
.error-info {
    padding: 100px;
    display: flex; 
    align-items: center;  
}
.error {
    margin-top: 200px;
}

.error > h1 {
    color: red;
}