.commit .path {
    background-color: darkgray;
    border-radius: 5px 0px 0px 5px;
    padding:5px;
    height: 15px;
    margin-right: 0;
}

.commit .time {
    background-color: yellowgreen;
    border-radius: 0;
    padding:5px;
    height: 15px;
    margin-right: 0;
}

.commit .student {
    background-color: yellowgreen;
    padding:5px;
    height: 15px;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0;
}

.commit-url {
    color: black;
}

.commit{
    margin-top: 20px;
}

.commit > input {
    width: 50px;
}

select {
    display: inline-block;
}

h2 {
    display: inline-block;
}
.commits {
    overflow:scroll;
    overflow-x:hidden;
}