<div class="commits col-sm-4">
<span class="text-center center-block">
    <h2>Commits</h2>
    <h3>{{commitsType}}</h3>
    <select *ngIf="subjectId == null" [(ngModel)]="selectedSubject" (ngModelChange)="selectSubjectChanged()" class="form-control">
        <option selected="selected" disabled>Select Subject</option>
        <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
    </select>
    <select *ngIf="subjectId != null" [(ngModel)]="selectedHometask" (ngModelChange)="selectHometaskChanged()" class="form-control">
        <option selected="selected" disabled>Select Hometask</option>
        <option *ngFor="let hometask of hometasks" [ngValue]="hometask">{{hometask.name}}</option>
    </select>
        </span>
    <span *ngIf="errorMessage != null" class="error">{{errorMessage}}</span>
    <div *ngFor="let commit of commits" class="commit">
        <a href="{{commit.url}}" target="_blank" class="commit-url" >
            <span class="path">{{commit.subjectName}} -> {{commit.hometaskName}}</span><span class="time">{{ensureDate(commit.timeStamp) | date:"dd.MM hh:mm"}}</span><span class="student">{{commit.studentName}}</span>
        </a>
        <button (click)="popModal(commit)" class="btn btn-default">Mark</button>

    </div>
</div>
<div bsModal #popup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="unpopModal(false)">
                    <span aria-hidden="true" (click)="unpopModal(false)">&times;</span>
                </button>
                <h4 class="modal-title">
                    Add mark
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="mark">Mark</label>
                    <input class="input-sm" type="number" [(ngModel)]="selectedHometaskCommit.mark"  min="0" max="{{selectedHometaskCommit.maxMark}}"/>
                </div>
                <div>
                    <label for="message">Message</label>
                    <input class="input-sm" type="textarea" [(ngModel)]="selectedHometaskCommit.message"/>
                </div>
                    <hr />
                <div>
                    <button class="btn btn-success" (click)="unpopModal(true)">Submit</button>
                    <button class="btn btn-default" (click)="unpopModal(false)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>