<div>
    <div class="menu col-sm-4 text-center">
        <ul>
            <li class="menu-item" *ngFor="let subject of subjects" routerLink="/{{subject.id}}" routerLinkActive="active">{{subject.name}}</li>
        </ul>
        <span class="menu-item" routerLink="/settings" routerLinkActive="active">
            Settings
        </span>
    </div>
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    </div>
</div>