ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    background: lightgray;
    font-size: 2em;
    border-radius: 5px;
    margin: 10px;
    display: block;
    cursor: pointer;
    cursor: hand;
}