<router-outlet name="commits"></router-outlet>
<div class="col-sm-8">
    <a (click)="goBack()" class="btn btn-warning"> < Back</a>
    <a (click)="goToSubjects()" class="btn btn-warning">Subjects</a>
    <a (click)="goToSettings()" class="btn btn-warning">Settings</a>
    <router-outlet></router-outlet>
</div>