<div class="hometask-component">
    <div class="entity subject section"><h3>Subject</h3> <subject-line [subject]="subject"  (onDelete)="gotoSubjects()" ngDefaultControl> </subject-line> </div>
    <div class="section">
        <span *ngIf="errorMessage != null" class="error">{{errorMessage}}</span>
        <h3>Hometasks</h3>
        <div *ngFor="let hometask of hometasks; let i = index" class="hometask entity">
            <hometask-line [hometask]="hometasks[i]" (onChanged)="getHometasks()" ngDefaultControl (onError)="errorMessage = $event"></hometask-line>
        </div>
    </div>
    <div class="section">
        <h3>Add new hometask</h3>
        <div *ngIf="!addHometaskOpened">
            <button (click)="toggleToAdd()" class="btn btn-info">+</button>
        </div>
        <div *ngIf="addHometaskOpened">
            <button (click)="untoggleToAdd()" class="btn btn-info">-</button>
            <hometask-editor [buttonText]="'Add'" (onSubmited)="createHometask($event)"> </hometask-editor>
        </div>
    </div>
</div>