<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="_hometaskToChange.name" name="name">

    <!--THis date picker doesnt work lol --><label for="deadline">Deadline</label>
    <datepicker [(ngModel)]="_hometaskToChange.deadline" [showWeeks]="true" [minDate]="minDate" id="deadline" name="deadline"></datepicker>
    <h4>Time: 23:59</h4>
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" required [(ngModel)]="_hometaskToChange.description" name="description">
    <label for="repositoryPath">Repository path</label>
    <input type="text" class="form-control" id="repositoryPath" required [(ngModel)]="_hometaskToChange.repositoryPath" name="repoPath">
    <label for="maxMark">Max mark</label>
    <input type="number" class="form-control" id="maxMark" required [(ngModel)]="_hometaskToChange.maxMark" name="maxMark">
</div>
<button (click)="submit()" class="btn btn-default">{{buttonText}}</button>