<div *ngIf="!isMoreInfoOpened">
    <span>{{hometask.name}}</span>
    <button class="btn btn-info" (click)="openMoreInfo()">
        +
    </button>
    <delete-button (onDelete)="deleteHometask()"></delete-button>
</div>
<div *ngIf="isMoreInfoOpened">
    <span>{{hometask.name}}</span>
    <button class="btn btn-info" (click)="closeMoreInfo()">
        -
    </button>
    <div class="form-change">
        <hometask-editor [buttonText]="'Change'" [hometaskToChange]="_hometask" (onSubmited)="changeHometask($event)"  > </hometask-editor>
    </div>
</div>