﻿@model dynamic

@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}

<div class="container text-center error">
    <h1>Error</h1>
    <div class="error-info">
        <img src="http://www.clipartkid.com/images/470/sad-face-uajXHU-clipart.gif" class="sad-face" />
        <h2>Sorry, your token or email address is incorrect.</h2>
    </div>
</div>
