﻿@using System.Threading.Tasks
@model HometaskTracker.Web.Models.UserPersonalDataView

@{
    ViewBag.Title = "Personal";
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron col-xs-offset-3 col-xs-6">
        <h2>Change your personal data</h2>
        @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary();
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name:")
                    @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, "Surname:")
                    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                </div>
                <div class="form-group">

                    <label for="Avatar">Avatar</label>
                    <input type="file" name="Avatar" id="Avatar" class="" />
                </div>
                <input class="btn btn-default" type="submit" value="Update" />
            </div>
                        }
    </div>
</div>