<button (click)="popModal()" class="btn btn-danger">Delete</button>
<div bsModal #popup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="unpopModal(false)">
                    <span aria-hidden="true" (click)="unpopModal(false)">&times;</span>
                </button>
                <h4 class="modal-title">
                    Sure?
                </h4>
            </div>
            <div class="modal-body">
                <div>Are you sure you want to delete?</div>
                <hr />
                <div>
                    <button class="btn btn-danger" (click)="unpopModal(true)">Yes</button>
                    <button class="btn btn-default" (click)="unpopModal(false)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>