@{
    
}
<div class="">
    <div class="col-xs-12 landing">
        <div class="container landing-container">
            <h1>Hometask Tracker</h1>
            <hr class="divider" />
            <ul class="list-inline">
                <li>
                    <a class="btn btn-default btn-lg" href="@Url.Action("LogIn", "Account")"><i class="fa fa-github fa-fw"></i>Log In</a>
                </li>
                <li>
                    <a class="btn btn-default btn-lg" href="@Url.Action("Register", "Account")"><i class="fa fa-github fa-fw"></i>Register</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="greeting">
                <h2> Hi! This is where you can track your progress on hometasks in your subject. This is where you can rate your students' work! Be happy.</h2>
            </div>
        </div>
    </div>

</div>